* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    width: 100vw;
    border: dotted 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-items: center;
}

.cell {
    border: solid red 2px;
    background-color: yellow;
    height: 100%;
}

#target {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}

@media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 900px) {


}