body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.card {
    height: 500px;
    width: 350px;  
    position: relative;
}

.card img {
    height: 100%;
    width: 100%;
}

h2 {
    background-color: bisque;
    justify-content: center;
    align-items: center;
    color: white;
    height: 500px;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: none;
}

.card:hover h2 {
    display: flex;
}